extends layout

block content

    .container
        .row
            .col-12
                h1= title
                p.mt-5
                ul.post
                ul.get


    script(src='/javascripts/dist/jquery.min.js')
    script(src='/javascripts/dist/public.bundle.js')